[Unit]
Description=Collect server metrics

[Service]
Type=oneshot
WorkingDirectory=/home/jason/server-sentinel-and-backup
ExecStart=/home/jason/server-sentinel-and-backup/scripts/collect_metrics.sh
User=root

