#Phase 1
THRESHOLD_DISK=85
THRESHOLD_RAM=90
THRESHOLD_CPU=80

#Phase 1+2
LOG_DIR="/var/log/sentinel"
LOG_FILE="/var/log/sentinel/metrics.log"
#Phase 3
SRC_DIR="/var/log/sentinel/"
DEST_SERVER="root@172.29.71.100"
DEST_DIR="/backups/server-a/"
SSH_PORT="2232"
SSH_KEY="/root/.ssh/id_ed25519"
BACKUP_LOG_FILE="/var/log/sentinel/backup.log"
